<div id="modal_editar" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Editar Vehiculo</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="numero_vehiculo_editar" class="control-label">Móvil:</label>
                    <input id="numero_vehiculo_editar" name="numero_vehiculo_editar"
                        type="text" class="form-control" readonly ng-model="vc.vehiculo.numero" />

                    <span class="text-danger"
                        ng-show="vc.vehiculo.mensaje.numero"
                        ng-bind="vc.vehiculo.mensaje.numero"></span>
                </div>

                <div class="form-group">
                    <label for="patente_vehiculo_editar " class="control-label">Patente:</label>
                    <input id="patente_vehiculo_editar" class="form-control" type="text" readonly ng-model="vc.vehiculo.patente" />

                    <span class="text-danger"
                        ng-show="vc.vehiculo.mensaje.patente"
                        bg-bind="vc.vehiculo.mensaje.patente"></span>
                </div>

                <div class="form-group">
                    <label for="revision_tecnica_vehiculo_editar" class="control-label">Fecha revisión técnica:</label>
                    <input id="revision_tecnica_vehiculo_editar" type="date" class="form-control" ng-model="vc.vehiculo.fechaRevision" />

                    <span class="text-danger"
                        ng-show="vc.vehiculo.mensaje.fechaRevision"
                        bg-bind="vc.vehiculo.mensaje.fechaRevision"></span>
                </div>

                <div class="form-group">
                    <label for="kilometraje_vehiculo_editar" class="control-label">Kilometraje:</label>
                    <input id="kilometraje_vehiculo_editar" class="form-control" type="text" readonly ng-model="vc.vehiculo.kilometraje" />

                    <span class="text-danger"
                        ng-show="vc.vehiculo.mensaje.kilometraje"
                        ng-bind="vc.vehiculo.mensaje.kilometraje"></span>
                </div>

                <div class="form-group">
                    <label for="estado_sec_vehiculo_editar" class="control-label">Estado Sec:</label>
                    <select name="estado_sec_vehiculo_editar" id="estado_sec_vehiculo_editar" class="form-control"
                        ng-model="vc.vehiculo.estadoSec">
                        <option value="1">SI</option>
                        <option value="0">NO</option>
                    </select>

                    <span class="help-block"
                        ng-show="vc.vehiculo.mensaje.estadoSec"
                        ng-bind="vc.vehiculo.mensaje.estadoSec"></span>
                </div>

                <div class="form-group">
                    <label for="estado_pago_vehiculo_editar" class="control-label">Estado pago:</label>
                    <select name="estado_pago_vehiculo_editar" id="estado_pago_vehiculo_editar" class="form-control" ng-model="vc.vehiculo.estadoPago">
                        <option value="1">SI</option>
                        <option value="0">NO</option>
                    </select>

                    <span class="text-danger"
                        ng-show="vc.vehiculo.mensaje.estadoPago"
                        ng-bind="vc.vehiculo.mensaje.estadoPago"></span>
                </div>

                <div class="form-group">
                    <label for="chofer_vehiculo_editar" class="control-label">Chofer:</label>
                    <select name="chofer_vehiculo_editar" id="chofer_vehiculo_editar" class="form-control" ng-model="vc.vehiculo.chofer.id">
                        <option value="0">...</option>
                        {% for trabajador in trabajadores %}
                        <option value="{{ trabajador.id }}">{{ trabajador.get_nombre_completo }}</option>
                        {% endfor %}
                    </select>

                    <span class="text-danger"
                        ng-show="vc.vehiculo.mensaje.trabajador"
                        ng-bind="vc.vehiculo.mensaje.trabajador"></span>
                </div>
            </div>

            <div class="modal-footer">
                <button id="btn_editar_vehiculo" type="button" class="btn btn-primary" ng-click="vc.actualizarVehiculo()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
