body
    font-size 16px

#login
    border 1px solid blue
    float right
    padding 3em

    #mensaje
        padding 0.5em

    div:last-child
        padding 1em 0

#main_content
    clear both

.auto-margin
    margin auto

.box
    box-sizing border-box
    display inline-block
    vertical-align top

.block
    display block

.center
    text-align center

.logo-index
    float left

for num in (5..95)
    s(".w%s{width:%s%}", num, num)
