body
    font-size 16px

#login
    background #fafafa
    margin auto
    padding 3em
    width 50%

    #mensaje
        padding 0.5em

    div:last-child
        padding 1em 0

#main_content
    clear both

#my_tab
    margin 2em 0

.auto-margin
    margin auto

.box
    box-sizing border-box
    display inline-block
    vertical-align top

.block
    display block

.center
    text-align center

.logo-index
    float left

for num in (5..95)
    s(".w%s{width:%s%}", num, num)
