@font-face{font-family:'icomoon';src:url("../fonts/icomoon.eot?-a0qoia");src:url("../fonts/icomoon.eot?#iefix-a0qoia") format('embedded-opentype'),url("../fonts/icomoon.woff?-a0qoia") format('woff'),url("../fonts/icomoon.ttf?-a0qoia") format('truetype'),url("../fonts/icomoon.svg?-a0qoia#icomoon") format('svg');font-weight:normal;font-style:normal}
body{font-family:'Verdana','Sans-serif';font-size:16px}
#login{background:#fafafa;margin:auto;padding:3em;width:50%;}
#login #mensaje{padding:.5em}
#login div:last-child{padding:1em 0}
#main_content{clear:both}
#modal_ver .form-group{margin:0;padding:0 .5em;}
#modal_ver .form-group .control-label,#modal_ver .form-group .form-control-static{border:1px solid #e6e6e6;display:inline-block;height:40px;padding:.5em;vertical-align:top}
#modal_ver .form-group .control-label{background:#f0f0f0;width:40%}
#modal_ver .form-group .form-control-static{width:59%}
#liquidacion .panel-busqueda,#liquidacion .panel-cabecera,#liquidacion .panel-detalle{padding:2em 1em}
#liquidacion .panel-cabecera{margin:0 1em;}
#liquidacion .panel-cabecera div{padding:1em;}
#liquidacion .panel-cabecera div label{text-align:right;width:100px}
#liquidacion .table .fila-desglose td{text-align:right}
#my_tab{margin:2em 0}
.auto-margin{margin:auto}
.box{box-sizing:border-box;display:inline-block;vertical-align:top}
.block{display:block}
.center{text-align:center}
.logo-index{float:left}
.modal .modal-dialog .modal-content .modal-header{background-color:#835c94;color:#fff}
.icon-pencil,.icon-calendar,.icon-calendar2,.icon-remove{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-pencil:hover,.icon-calendar:hover,.icon-calendar2:hover,.icon-remove:hover{color:#f00}
.icon-pencil:before{content:"\e600"}
.icon-calendar:before{content:"\e601"}
.icon-calendar2:before{content:"\e602"}
.icon-remove:before{content:"\e603"}
