{% extends "panel_control.html" %}
{% load static from staticfiles %}

{% block css %}
<style>
    .panel-reportes{
        border: 1px solid black;
        padding: 1em;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}

{% block titulo_reporte %}<h1 class="center">Título sin agregar</h1>{% endblock %}
{% block reporte_content %}No hay nada definido{% endblock %}

{% endblock %}

{% block js %}
<script src="{% static 'js/common_functions.js' %}"></script>
<script src="{% static 'js/vendor/angular.min.js' %}"></script>
<script src="{% static 'js/vendor/highcharts.js' %}"></script>
<script src="{% static 'js/plugins/exporting.js' %}"></script>

{% block js_reportes %}
{% endblock %}

{% endblock %}
