{% extends "reportes/base_reportes.html" %}
{% load static from staticfiles %}

{% block titulo_reporte %}
<h1 class="center">Consumo de clientes</h1>
{% endblock %}

{% block reporte_content %}

<section ng-app="consumoClienteApp" ng-controller="ConsumoClienteController as consumoCtrl">

<aside>
    <label for="desde">Desde</label>
    <input id="desde" type="date" ng-model="consumoCtrl.desde" />

    <label for="hasta">Hasta</label>
    <input id="hasta" type="date" ng-model="consumoCtrl.hasta" />

    <button type="button" class="btn btn-success" ng-click="consumoCtrl.filtrar()">Filtrar</button>
    <button type="button" class="btn btn-warning" ng-click="consumoCtrl.exportar()">Exportar a excel</button>
    <button type="button" class="btn btn-primary" ng-click="consumoCtrl.graficar()">Ver gráfico</button>
</aside>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a id="tabDetalle" href="#detalle" role="tab" data-toggle="tab">Detalle</a>
    </li>

    <li role="presentation">
        <a id="tabGrafico" href="#grafico" role="tab" data-toggle="tab">Gráfico</a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="detalle">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>TIPO DE CLIENTE</th>
                    <th>NOMBRE</th>
                    <th>FORMATO CONSUMIDO</th>
                    <th>MONTO(descuento)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="consumo in consumoCtrl.consumos">
                    <td ng-bind="consumo.cliente.tipo"></td>
                    <td ng-bind="consumo.cliente.nombre"></td>
                    <td ng-bind="consumo.producto.codigo"></td>
                    <td ng-bind="consumo.descuento.descripcion"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="grafico">
        <div id="canvas_grafico"></div>
    </div>
</div>

</section>
{% endblock %}

{% block js_reportes %}
<script src="{% static 'js/bundles/reportes/consumo_cliente.bundle.js' %}"></script>
<script>
    App.urls.set("reportes:obtener_consumo", "{% url 'reportes:obtener_consumo' %}");
</script>
{% endblock %}
