*.log
*.pot
*.pyc
local_settings.py
sagyv/db.sqlite3
sagyv/node_modules/*
*.sqlite3

.idea/workspace.xml

.idea/vcs.xml

.idea/scopes/scope_settings.xml

.idea/sagyv.iml

.idea/modules.xml

.idea/misc.xml

.idea/encodings.xml

.idea/dictionaries/Aether.xml

.idea/.name

.idea/sqldialects.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/dataSources.xml

.idea/dataSources.local.xml

.idea/dataSources.ids
