{% load static %}

<div id="modal_add" class="modal fade">
    <form id="f_add" action="{% url 'update_stock_producto' %}" method="post">
    {% csrf_token %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Compra de producto</h4>
            </div>

            <div class="modal-body">
                <div id="ajax_load" class="center" style="visibility:hidden">
                    <img src="{% static 'images/ajax-loader.gif' %}" alt="" />
                </div>

                <input id="modal_add_id" type="hidden" value="" />

                <div class="form-group">
                    <label class="control-label" for="factura_add">Factura:</label>
                    <input id="factura_add" class="form-control" type="text" value="" />
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="cantidad_add " class="control-label">Cantidad:</label>
                    <input id="cantidad_add" class="form-control" type="text" value="" />
                    <span class="help-block"></span>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary"
                    onclick="App.bodegaController.accion()">Guardar</button>
            </div>
        </div>
    </div>
    </form>
</div>
