<div class="panel panel-default">
    <form id="f_precio_masivo" action="" method="post" role="form" class="form-horizontal" style="width:70%;margin:auto">
        {% for producto in productos %}
            <div class="form-group">
                <label for="producto_precio_{{ producto.id }}"
                    class="control-label">{{ producto.codigo }} - {{ producto.tipo_producto.nombre }}:</label>

                <input id="producto_precio_{{ producto.id }}" class="form-control"
                    type="text" value="{{ producto.get_precio_producto }}" />
            </div>
        {% endfor %}

        <div class="form-group center">
            <button class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
