<div id="modal_boleta_agregar" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Talonario</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="boleta_agregar_inicial" class="control-label">Boleta inicial</label>
                    <input id="boleta_agregar_inicial" type="text"
                        class="form-control" ng-model="boletaCtrl.boleta.inicial" />

                    <span class="text-danger"
                        ng-show="boletaCtrl.boleta.mensajes.inicial"
                        ng-bind="boletaCtrl.boleta.mensajes.inicial"></span>
                </div>

                <div class="form-group">
                    <label for="boleta_agregar_ultima" class="control-label">Boleta final</label>
                    <input for="boleta_agregar_ultima" type="text"
                        class="form-control" ng-model="boletaCtrl.boleta.ultima" />

                    <span class="text-danger"
                        ng-show="boletaCtrl.boleta.mensajes.ultima"
                        ng-bind="boletaCtrl.boleta.mensajes.ultima"></span>
                </div>

                <div class="form-group">
                    <label for="boleta_agregar_trabajador" class="control-label">Trabajador</label>
                    <select id="boleta_agregar_trabajador" class="form-control"
                        ng-model="boletaCtrl.boleta.trabajador.id">
                        {% for trabajador in trabajadores %}
                        <option value="{{ trabajador.id }}">{{ trabajador.get_nombre_completo }}</option>
                        {% endfor %}
                    </select>

                    <span class="text-danger"
                        ng-show="boletaCtrl.boleta.mensajes.trabajador"
                        ng-bind="boletaCtrl.boleta.mensajes.trabajador"></span>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" ng-click="boletaCtrl.agregar()">Guardar</button>
            </div>
        </div>
    </div>
</div>
