{% extends "panel_control.html" %}
{% load static %}

{% block content %}

<h1 class="center">Clientes</h1>

{% include "mensaje.html" %}

<button id="btn_agregar" class="btn btn-primary">Agregar Cliente</button>
<button id="btn_agregar_situacion" class="btn btn-primary">Agregar Situacion comercial</button>

<ul class="nav nav-tabs" role="tablist" id="my_tab">
    <li class="active">
        <a href="#clientes" role="tab" data-toggle="tab">Clientes</a>
    </li>
    <li>
        <a href="#scomerciales" role="tab" data-toggle="tab">Situaciones Comerciales</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="clientes">
        {% include "cliente/components/lista_clientes.html" %}
    </div>

    <div class="tab-pane" id="scomerciales">
        {% include "cliente/components/lista_situaciones_comerciales.html" %}
    </div>
</div>

<!-- modals -->
{% include "cliente/components/modal_nuevo_cliente.html" %}
{% include "cliente/components/modal_editar_cliente.html" %}

{% include "cliente/components/modal_nueva_situacion_comercial.html"%}
{% include "cliente/components/modal_editar_situacion_comercial.html"%}

{% endblock %}

{% block js %}
<script src="{% static 'js/vendor/handlebars.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.rut.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.tablesorter.min.js' %}"></script>
<script src="{% static 'js/common_functions.js' %}"></script>
<script src="{% static 'js/controllers/cliente.js' %}"></script>
<script src="{% static 'js/controllers/situacion_comercial.js' %}"></script>
<script id="tpl_nuevo_cliente" type="text/x-template">
    {% include "cliente/components/tpl_nuevo_cliente.html" %}
</script>
<script id="tpl_nueva_situacion" type="text/x-template">
    {% include "cliente/components/tpl_nueva_situacion_comercial.html" %}
</script>
<script>
    App.clienteController = new App.Controllers.Cliente();
    App.clienteController.clienteUrl = "{% url 'cliente:obtener' 0 %}";
    App.clienteController.eliminarUrl = "{% url 'cliente:eliminar' %}";
    {% for cliente in clientes %}
    App.clienteController.addClienteRut('{{ cliente.rut }}');
    {% endfor %}
    App.clienteController.init();

    App.situacionController = new App.Controllers.SituacionComercial();
    App.situacionController.situacionUrl = "{% url 'cliente:obtener_situacion_comercial' 0 %}";
    App.situacionController.init();
</script>
{% endblock %}
