{% extends "panel_control.html" %}
{% load static %}

{% block content %}

<div id="mensaje" class="center alert" style="display:none"></div>

<button id="btn_agregar" class="btn btn-default">Agregar Cliente</button>
<button id="btn_agregar_situacion" class="btn btn-default">Agregar Situacion comercial</button>
<ul class="nav nav-tabs" role="tablist" id="myTab">
    <li class="active">
        <a href="#clientes" role="tab" data-toggle="tab">Clientes</a>
    </li>
    <li>
        <a href="#scomerciales" role="tab" data-toggle="tab">Situaciones Comerciales</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="clientes">
        {% include "components/lista_clientes.html" %}
    </div>

    <div class="tab-pane" id="scomerciales">
        {% include "components/lista_situaciones_comerciales.html" %}
    </div>
</div>

<!-- modals -->
{% include "components/modal_nuevo_cliente.html" %}
{% include "components/modal_editar_cliente.html" %}
{% include "components/modal_nueva_situacion_comercial.html"%}
{% include "components/modal_editar_situacion_comercial.html"%}

{% endblock %}

{% block js %}
<script src="{% static 'js/vendor/handlebars.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.rut.min.js' %}"></script>
<script src="{% static 'js/controllers/cliente.js' %}"></script>
<script id="tpl_nuevo_cliente" type="text/x-template">
    {% include "cliente/nuevo_cliente_component.html" %}
</script>
<script id="tpl_nueva_situacion" type="text/x-template">
    {% include "cliente/nuevo_situacion_comercial_component.html" %}
</script>
<script>
    App.clienteController = new App.Controllers.Cliente();
    App.clienteController.setClienteUrl("{% url 'cliente:obtener' 0 %}");
    App.clienteController.setEliminarUrl("{% url 'cliente:eliminar' %}");
    App.clienteController.setSituacionUrl("{% url 'cliente:obtener_situacion_comercial' 0 %}");
    App.clienteController.init();
</script>
{% endblock %}
