<table id="tabla_clientes" class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Giro</th>
            <th>Rut</th>
            <th>Telefono</th>
            <th>Dirección</th>
            <th>Situacion comercial</th>
            {% if es_admin %}
            <th>Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr data-id="{{ cliente.id }}">
            <td data-columna="nombre">{{ cliente.nombre }}</td>
            <td data-columna="giro">{{ cliente.giro }}</td>
            <td data-columna="rut">{{ cliente.rut }}</td>
            <td data-columna="telefono">{{ cliente.telefono }}</td>
            <td data-columna="direccion">{{ cliente.direccion }}</td>
            <td data-columna="situacion_comercial">
                {% if cliente.situacion_comercial.es_cliente_sin_descuento %}
                    Sin descuento
                {% else %}
                    {{ cliente.situacion_comercial }}
                {% endif %}
            </td>
            {% if es_admin %}
            <td>
                <a href="#" class="icon-pencil" data-accion="editar" data-id="{{ cliente.id }}"></a>
                <a href="#" class="icon-remove" data-accion="eliminar" data-id="{{ cliente.id }}"></a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
