<form action="#" role="form">
    <table id="tabla_precios" class="table table-striped">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Precio actual</th>
                <th>Precio nuevo</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="producto in garantia.productos">
                <td ng-bind="producto.codigo"></td>
                <td ng-bind="producto.precio | currency"></td>
                <td>
                    {% verbatim %}
                    <input type="text" data-columna-garantias="{{ $index }}" ng-model="producto.valor" />
                    {% endverbatim %}
                    <span class="text-danger" ng-if="producto.mensaje" ng-bind="producto.mensaje"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group center">
        <input ng-click="garantia.actualizar()" type="button" class="btn btn-primary" value="Guardar" />
    </div>
</form>
