<form action="#" role="form">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nivel crítico</th>
                <th>Nuevo nivel crítico</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="producto in stock.productos">
                <td ng-bind="producto.codigo"></td>
                <td ng-bind="producto.nivelCritico"></td>
                <td>
                    {% verbatim %}
                    <input data-columna-stock="{{ $index }}" type="text" ng-model="producto.valor" />
                    {% endverbatim %}
                    <span class="text-danger" ng-if="producto.mensaje" ng-bind="producto.mensaje"></span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="form-group center">
        <input type="button" ng-click="stock.actualizar()" class="btn btn-primary" value="Guardar" />
    </div>
</form>
