<form id="f_stock" action="{% url 'precios:update_stock' %}" method="post">
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nivel crítico</th>
                <th>Nuevo nivel crítico</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in lista_precios %}
            <tr>
                <td>{{ producto.codigo }}</td>
                <td>{{ producto.nivel_critico }}</td>
                <td>
                    <input id="producto_stock_{{ producto.id }}" data-id="{{ producto.id }}"
                        data-columna-stock="{{ forloop.counter }}" type="text" value="" />
                    <span class="text-danger"></span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="center" style="padding: 1em">
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>
