<form id="f_precio_masivo" action="{% url 'precios:update_precios' %}" method="post" role="form">
    {% csrf_token %}
    <table id="tabla_precios" class="table table-striped">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Precio actual</th>
                <th>Precio nuevo</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in lista_precios %}
            <tr>
                <td>{{ producto.codigo }}</td>
                <td>$ <span data-actual="true">{{ producto.get_precio_producto }}</span></td>
                <td class="form-group">
                    <input id="producto_precio_{{ producto.id }}" type="text"
                    value="" data-columna-normal="{{ forloop.counter }}" data-id="{{ producto.id }}" />
                    <span class="help-block"></span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-group center">
        <button id="guardar_precio_llenos" class="btn btn-primary">Guardar</button>
    </div>
</form>
