<div id="modal_nuevo" class="modal fade">
    <form id="f_nuevo" action="{% url 'trabajador:crear' %}" method="post">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Nuevo trabajador</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="nombre_add" class="control-label">Nombre</label>
                    <input id="nombre_add" name="nombre" type="text" class="form-control" value="" />
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="apellido_add" class="control-label">Apellido</label>
                    <input id="apellido_add" name="apellido" type="text" class="form-control" value="" />
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="rut_add" class="control-label">Rut</label>
                    <input id="rut_add" name="rut" type="text" class="form-control" value="" />
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="domicilio_add" class="control-label">Domicilio</label>
                    <input id="domicilio_add" name="domicilio" type="text" class="form-control" value="" />
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="fecha_nacimiento_add" class="control-label">Fecha nacimiento</label>
                    <input id="fecha_nacimiento_add" name="fecha_nacimiento" type="date" class="form-control">
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="inicio_contrato_add" class="control-label">Inicio contrato</label>
                    <input id="inicio_contrato_add" name="inicio_contrato" type="date" class="form-control" value="" />
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="vigencia_licencia_add" class="control-label">Vigencia licencia:</label>
                    <input id="vigencia_licencia_add" name="vigencia_licencia" type="date" class="form-control" value="" />
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="afp_add" class="control-label">AFP</label>
                    <select name="afp" id="afp_add" class="form-control">
                        {% for afp in lista_afps %}
                        <option value="{{ afp.id }}">{{ afp.nombre }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="sistema_salud_add" class="control-label">Sistema salud</label>
                    <select name="sistema_salud" id="sistema_salud_add" class="form-control">
                        {% for sistema_salud in lista_sistema_salud %}
                        <option value="{{ sistema_salud.id }}">{{ sistema_salud.nombre }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="estado_civil_add" class="control-label">Estado civil</label>
                    <select name="estado_civil" id="estado_civil_add" class="form-control">
                        {% for estado_civil in estados_civiles %}
                        <option value="{{ estado_civil.id }}">{{ estado_civil.nombre }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="estado_vacacion_add" class="control-label">Estado vacaciones</label>
                    <select id="estado_vacacion_add" name="estado_vacacion" class="form-control">
                        {% for estado_vacacion in estados_vacacion %}
                        <option value="{{ estado_vacacion.id }}">{{ estado_vacacion.nombre }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block"></span>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
    </form>
</div>
