<div id="modal_ver" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Detalle trabajador</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="nombre_ver" class="control-label">Nombre</label>
                    <span id="nombre_ver" class="form-control-static"></span>
                </div>

                <div class="form-group">
                    <label for="apellido_ver" class="control-label">Apellido</label>
                    <span id="apellido_ver" class="form-control-static"></span>
                </div>

                <div class="form-group">
                    <label for="rut_ver" class="control-label">Rut</label>
                    <span id="rut_ver" class="form-control-static"></span>
                </div>

                <div class="form-group">
                    <label for="domicilio_ver" class="control-label">Domicilio</label>
                    <span id="domicilio_ver" class="form-control-static"></span>
                </div>

                <div class="form-group">
                    <label for="fecha_nacimiento_ver" class="control-label">Fecha nacimiento</label>
                    <span id="fecha_nacimiento_ver" class="form-control-static"></span>
                </div>

                <div class="form-group">
                    <label for="inicio_contrato_ver" class="control-label">Inicio contrato</label>
                    <span id="inicio_contrato_ver" class="form-control-static"></span>
                </div>

                <div class="form-group">
                    <label for="vigencia_licencia_ver" class="control-label">Vigencia licencia</label>
                    <span id="vigencia_licencia_ver" class="form-control-static"></span>
                </div>

                <div class="form-group">
                    <label for="afp_ver" class="control-label">AFP</label>
                    <span id="afp_ver" class="form-control-static"></span>
                </div>

                <div class="form-group">
                    <label for="sistema_salud_ver" class="control-label">Sistema salud</label>
                    <span id="sistema_salud_ver" class="form-control-static"></span>
                </div>

                <div class="form-group">
                    <label for="estado_civil_ver" class="control-label">Estado civil</label>
                    <span id="estado_civil_ver" class="form-control-static"></span>
                </div>

                <div class="form-group">
                    <label for="estado_vacacion_ver" class="control-label">Estado vacaciones</label>
                    <span id="estado_vacacion_ver" class="form-control-static" /></span>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
