{% verbatim %}
<tr data-id="{{ id }}">
    <td data-columna="nombre">{{ nombre }}</td>
    <td data-columna="apellido">{{ apellido }}</td>
    <td data-columna="rut">{{ rut }}</td>
    <td data-columna="estado_vacaciones">{{ estado_vacaciones }}</td>
    <td>
        <a href="#" class="icon-search" data-accion="ver" data-id="{{ id }}"></a>
        <a href="#" class="icon-pencil" data-accion="editar" data-id="{{ id }}"></a>
        <a href="#" class="icon-remove" data-accion="eliminar" data-id="{{ id }}"></a>
        <a href="#" data-accion="anexar" data-id="{{ id }}">Anexar carga</a>
    </td>
</tr>
{% endverbatim %}
