{% extends "panel_control.html" %}

{% block css %}
<style>
    .panel-reportes{
        border: 1px solid black;
        padding: 1em;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}

<section class="panel-reportes">
    <a href="{% url 'reportes:consumo_clientes' %}" class="btn btn-default">Consumo clientes comerciales</a>
    <a href="{% url 'reportes:compras_gas' %}" class="btn btn-default">Compras de gas (en kilos)</a>
    <a href="{% url 'reportes:kilos_vendidos' %}" class="btn btn-default">Kilos de ventas por chofer</a>
    <a href="{% url 'reportes:creditos' %}" class="btn btn-default">Créditos</a>
    <a href="{% url 'reportes:venta_masa' %}" class="btn btn-default">Venta masa</a>
</section>

{% block reporte_content %}No hay nada definido{% endblock %}

{% endblock %}
