{% extends "reportes/base_reportes.html" %}

{% block reporte_content %}

<label for="desde">Desde</label>
<input id="desde" type="text" />
<label for="hasta">Hasta</label>
<input id="hasta" type="text" />

<a href="#" class="btn btn-primary">Exportar a excel</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID VENTA</th>
            <th>Nº SERIE</th>
            <th>MONTO</th>
            <th>FECHA</th>
            <th>CLIENTE</th>
            <th>TIPO CUOTAS</th>
            <th>Nº TARJETA</th>
            <th>Nº OPERACIÓN</th>
            <th>Nº CUOTAS</th>
            <th>CUOTAS PAGADAS</th>
            <th>CANTIDAD CUOTAS PAGADAS</th>
            <th>CUOTAS IMPAGAS</th>
            <th>CANTIDAD CUOTAS IMPAGAS</th>
        </tr>
    </thead>
    <tbody>
        {% for credito in creditos %}
        <tr>
            <td>{{ credito.venta_id }}</td>
            <td>{{ credito.numero_serie }}</td>
            <td>{{ credito.monto }}</td>
            <td>{{ credito.fecha }}</td>
            <td>{{ credito.nombre_cliente }}</td>
            <td>{{ credito.tipo_cuotas }}</td>
            <td>{{ credito.numero_tarjeta }}</td>
            <td>{{ credito.numero_operacion }}</td>
            <td>{{ credito.numero_cuotas }}</td>
            <td>{{ credito.cuotas_pagadas }}</td>
            <td>{{ credito.cant_cuotas_pagadas }}</td>
            <td>{{ credito.cuotas_impagas }}</td>
            <td>{{ credito.cant_cuotas_impagas }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
