{% extends "reportes/base_reportes.html" %}

{% block reporte_content %}

<section ng-controller="KilosController as kilosCtrl">
    <label for="desde">Desde</label>
    <input id="desde" type="text" ng-model="kilosCtrl.desde" />

    <label for="hasta">Hasta</label>
    <input id="hasta" type="text" ng-model="kilosCtrl.hasta" />

    <a href="{% url 'reportes:kilos_vendidos' %}" class="btn btn-primary" ng-click="kilosCtrl.filtrar()">Filtrar</a>
    <a href class="btn btn-primary" ng-click="kilosCtrl.exportar()">Exportar a excel</a>
    <a href class="btn btn-primary" ng-click="kilosCtrl.graficar()">Ver gráfico</a>
</section>

<table class="table table-striped">
    <thead>
        <tr>
            <th>TRABAJADOR</th>
            <th>PRODUCTO</th>
            <th>CODIGO</th>
            <th>MONTO</th>
        </tr>
    </thead>
    <tbody>
        {% for trabajador in trabajadores %}
        <tr>
            <td>{{ trabajador.trabajador_nombre }}</td>
            <td>{{ trabajador.producto_nombre }}</td>
            <td>{{ trabajador.producto_codigo }}</td>
            <td>{{ trabajador.producto_peso }}</td>
            <td>{{ trabajador.suma_kilos }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
