{% extends "reportes/base_reportes.html" %}

{% block reporte_content %}

{% include "reportes/panel_acciones.html" with accion_filtrar='reportes:kilos_vendidos' %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>TRABAJADOR</th>
            <th>PRODUCTO</th>
            <th>CODIGO</th>
            <th>MONTO</th>
        </tr>
    </thead>
    <tbody>
        {% for trabajador in trabajadores %}
        <tr>
            <td>{{ trabajador.trabajador_nombre }}</td>
            <td>{{ trabajador.producto_nombre }}</td>
            <td>{{ trabajador.producto_codigo }}</td>
            <td>{{ trabajador.producto_peso }}</td>
            <td>{{ trabajador.suma_kilos }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
