{% extends "reportes/base_reportes.html" %}

{% block reporte_content %}

<section ng-controller="VentaController as ventaCtrl">
    <label for="desde">Desde</label>
    <input id="desde" type="text" ng-model="ventaCtrl.desde" />

    <label for="hasta">Hasta</label>
    <input id="hasta" type="text" ng-model="ventaCtrl.hasta" />

    <a href="{% url 'reportes:venta_masa' %}" class="btn btn-primary" ng-click="ventaCtrl.filtrar()">Filtrar</a>
    <a href class="btn btn-primary" ng-click="ventaCtrl.exportar()">Exportar a excel</a>
    <a href class="btn btn-primary" ng-click="ventaCtrl.graficar()">Ver gráfico</a>
</section>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID CLIENTE</th>
            <th>NOMBRE</th>
            <th>PRODUCTO</th>
            <th>CODIGO</th>
            <th>MONTO</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id_cliente }}</td>
            <td>{{ producto.nombre_cliente }}</td>
            <td>{{ producto.producto_nombre }}</td>
            <td>{{ producto.producto_codigo }}</td>
            <td>{{ producto.suma_monto }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
