<table id="tabla_clientes" class="table table-striped">
    <thead>
        <tr>
            <th>Giro</th>
            <th>Rut</th>
            <th>Telefono</th>
            <th>Situacion comercial</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td data-columna="giro">{{ cliente.giro }}</td>
            <td>{{ cliente.rut }}</td>
            <td data-columna="telefono">{{ cliente.telefono }}</td>
            <td data-columna="situacion_comercial">
                {% if cliente.situacion_comercial.es_cliente_sin_descuento %}
                    Sin descuento
                {% else %}
                    {{ cliente.situacion_comercial.monto_descuento }}
                    {{ cliente.situacion_comercial.tipo_descuento.tipo }}
                {% endif %}
            </td>
            <td>
                <a href="#" data-accion="editar" data-id="{{ cliente.id }}">Editar</a>
                <a href="#" data-accion="eliminar" data-id="{{ cliente.id }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
