<table id="tabla_s_comerciales" class="table table-striped">
    <thead>
        <tr>
            <th>Tipo de descuento</th>
            <th>Valor</th>
            <th>Producto</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        {% for cs in situaciones_comerciales %}
        <tr>
            <td data-columna="tipo_descuento">{{ cs.tipo_descuento.tipo }}</td>
            <td data-columna="descuento">{{ cs.monto_descuento }}</td>
            <td data-columna="producto">
                {% if cs.id != 1 %}
                ( {{ cs.producto.codigo }} ) {{ cs.producto.get_nombre_tipo }}
                {% endif %}
            </td>
            <td>
                {% if cs.id != 1 %}
                <a href="#" data-accion="editar" data-id="{{ cs.id }}">Editar</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
