<div id="modal_editar" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Editar Cliente</h4>
            </div>
            <div class="modal-body">
                <form id="f_editar_cliente" action="{% url 'cliente:modificar' %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="nombre_update" class="control-label">Nombre</label>
                        <input id="nombre_update" type="text" class="form-control" value="" />
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <label for="giro_update" class="control-label">Giro</label>
                        <input id="giro_update" class="form-control" type="text" value="" />
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <label for="direccion_update" class="control-label">Dirección</label>
                        <input id="direccion_update" type="text" class="form-control" value="" />
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <label for="telefono_update" class="control-label">Teléfono</label>
                        <input id="telefono_update" type="text" class="form-control" value="" />
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <label for="rut_update" class="control-label">Rut</label>
                        <input id="rut_update" type="text" class="form-control" value="" />
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <label for="sit_comercial_update" class="control-label">Situación comercial</label>
                        <select name="sit_comercial_update" id="sit_comercial_update" class="form-control">
                            {% for situacion in situaciones_comerciales_select %}
                            <option value="{{ situacion.id }}" data-id="{{ situacion.id }}">
                                {{ situacion }}
                            </option>
                            {% endfor%}
                            <option value="otro">Otro...</option>
                        </select>
                        <span class="help-block"></span>
                    </div>

                    <div id="nueva_situacion_update" class="form-group row hidden">
                        <div class="col-xs-2">
                            <label for="numero_update" class="control-label">Cantidad:</label>
                        </div>
                        <div class="col-xs-2">
                            <input id="numero_update" class="form-control" type="text" value="" />
                        </div>
                        <div class="col-xs-2">
                            <label for="tipo_update" class="control-label">Tipo</label>
                        </div>
                        <div class="col-xs-2">
                            <select name="tipo_update" id="tipo_update" class="form-control">
                            {% for tipo_descuento in tipos_descuento %}
                                <option value="{{ tipo_descuento.id }}">{{ tipo_descuento.tipo }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <label for="sel_producto_update" class="control-label">Producto</label>
                        </div>
                        <div class="col-xs-2">
                            <select name="selc_producto_update" id="sel_producto_update" class="form-control">
                                {% for producto in productos %}
                                <option value="{{ producto.id }}">{{ producto.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="checkbox">
                        <label for="credito_update">
                            <input id="credito_update" type="checkbox" value="1" />
                            <span>Crédito</span>
                        </label>
                    </div>

                    <div class="checkbox">
                        <label for="dispensador_update">
                            <input id="dispensador_update" type="checkbox" value="1" />
                            <span>Dispensador</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="obs_update" class="control-label">Observaciones</label>
                        <textarea id="obs_update" class="form-control">
                        </textarea>
                        <span class="help-block"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button id="btn_guardar_update" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
