{% verbatim %}
<tr>
    <td data-columna="nombre">{{ nombre }}</td>
    <td data-columna="giro">{{ giro }}</td>
    <td>{{ rut }}</td>
    <td data-columna="telefono">{{ telefono }}</td>
    <td data-columna="direccion">{{ direccion }}</td>
    <td data-columna="situacion_comercial">{{ situacion_comercial }}</td>
    <td>
        <a href="#" data-accion="editar" data-id="{{ id }}">Editar</a>
        <a href="#" data-accion="eliminar" data-id="{{ id }}">Eliminar</a>
    </td>
</tr>
{% endverbatim %}
