{% extends "panel_control.html" %}
{% load static from staticfiles %}

{% block css %}
<style>
    #tabla_ventas thead tr th, #tabla_vouchers thead tr th{
        text-align: center;
    }

    .celda-header{
        text-align: center !important;
        vertical-align: middle !important;
    }
</style>
{% endblock %}

{% block content %}
    {% include "mensaje.html" %}

    <section id="liquidacion" class="panel-liquidacion"
        data-ng-app="liquidacionApp" data-ng-controller="LiquidacionController as liqCtrl">

        <section class="panel-busqueda">
            <label for="guias_despacho">Guía despacho</label>
            <select id="guias_despacho" data-ng-model="liqCtrl.idGuiaDespacho">
                {% for guia_despacho in guias_despacho %}
                <option value="{{ guia_despacho.id }}" data-id="{{ guia_despacho.id }}">{{ guia_despacho.numero }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" data-ng-click="liqCtrl.buscarGuia()">Buscar</button>
        </section>

        {% include "liquidacion/panel_cabecera.html" %}
        {% include "liquidacion/panel_detalle.html" %}
        {% include "liquidacion/seccion_venta.html" %}

        <h3>Guías</h3>

        <table id="tabla_ventas" class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Número guía</th>
                    <th>Producto</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h3>Vouchers</h3>

        <table id="tabla_vouchers" class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Tipo voucher</th>
                    <th>tarjeta</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h3>Cheques</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Banco</th>
                    <th>N° Cheque</th>
                    <th>Monto</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="chk in liqCtrl.cheques">
                    <td data-ng-bind="chk.banco.nombre"></td>
                    <td data-ng-bind="chk.numero"></td>
                    <td data-ng-bind="chk.monto"></td>
                    <td data-ng-bind="chk.fecha | date:'yyyy-MM-d'"></td>
                    <td>
                        <a href data-ng-click="liqCtrl.removeCheque($index)">eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Cupones de descuento</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Cliente</th>
                    <th>Formato</th>
                    <th>Descuento</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="cp in liqCtrl.cuponesPrepago">
                    <td data-ng-bind="cp.numero"></td>
                    <td data-ng-bind="cp.cliente.nombre"></td>
                    <td data-ng-bind="cp.formato.nombre"></td>
                    <td data-ng-bind="cp.descuento"></td>
                    <td>
                        <a href data-ng-click="liqCtrl.removeCuponDescuento($index)">eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Otro</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Concepto</th>
                    <th>Monto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="o in liqCtrl.otro">
                    <td data-ng-bind="o.concepto"></td>
                    <td data-ng-bind="o.monto"></td>
                    <td>
                        <a href data-ng-click="liqCtrl.removeOtro($index)">eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-primary" data-modal="">Guardar</button>
        <button class="btn btn-default" data-modal="">VENTA GARANTIAS</button>

        <button class="btn btn-primary" data-modal=""
            data-ng-click="liqCtrl.cerrarLiquidacion()">CERRAR LIQUIDACIÓN</button>
    </section>
{% endblock %}

{% block js %}
<script src="{% static 'js/vendor/angular.min.js' %}"></script>
<script src="{% static 'js/plugins/typeahead.min.js' %}"></script>
<script src="{% static 'js/vendor/handlebars.min.js' %}"></script>
<script src="{% static 'js/common_functions.js' %}"></script>
<script src="{% static 'js/liquidacion.bundle.js' %}"></script>

<script id="tpl_tabla_ventas" type="text/x-handlebars-template">
{% include "liquidacion/tpl_tabla_ventas.html" %}
</script>

<script id="tpl_tabla_vouchers" type="text/x-handlebars-template">
{% include "liquidacion/tpl_tabla_vouchers.html" %}
</script>

<script>
    App.urls.set("liquidacion:obtener_guia", "{% url 'liquidacion:obtener_guia' %}");
    App.urls.set("liquidacion:buscar_cliente", "{% url 'liquidacion:buscar_cliente' %}");
    App.urls.set("liquidacion:cerrar", "{% url 'liquidacion:cerrar' %}");
</script>
{% endblock %}
