{% extends "panel_control.html" %}
{% load static %}

{% block content %}
    <section id="liquidacion" class="panel-liquidacion"
        data-ng-app="liquidacionApp" data-ng-controller="LiquidacionController as liqCtrl">

        <section class="panel-busqueda">
            <label for="lista_vehiculos" >Vehículo</label>
            <select name="lista_vehiculos" id="lista_vehiculos" data-ng-model="liqCtrl.idVehiculo">
                {% for vehiculo in vehiculos %}
                <option value="{{ vehiculo.id }}">{{ vehiculo.numero }} - {{ vehiculo.patente }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" data-ng-click="liqCtrl.buscarGuia()">Buscar</button>
        </section>

        <section class="panel panel-default panel-cabecera">
            <div class="panel-heading">
                <h3 class="panel-title">Datos del chofer</h3>
            </div>
            <div>
                <label for="numero_guia">Nº guía</label>
                <input id="numero_guia" type="text" value="" data-ng-model="liqCtrl.numeroGuia" />

                <label for="fecha">Fecha</label>
                <input id="fecha" type="date" value="" />

                <label for="numero_boleta">Nº de boleta</label>
                <input id="numero_boleta" type="text" value="" data-ng-model="liqCtrl.numeroBoleta" />
            </div>

            <div>
                <label for="nombre_chofer">Chofer</label>
                <input id="nombre_chofer" type="text" data-ng-model="liqCtrl.vehiculo.chofer" readonly value="" />

                <label for="kilometraje">KM actual</label>

                <input id="kilometraje" type="text" value=""
                    data-ng-model="liqCtrl.vehiculo.kmActual"
                    data-ng-keyup="liqCtrl.actualizarKilometraje()" />

                <label for="km_recorridos">KM recorridos</label>

                <input id="km_recorridos" type="text"
                    value="" readonly
                    data-ng-model="liqCtrl.vehiculo.kilometrosRecorridos" />
            </div>
        </section>

        <section class="panel-detalle">
            {% verbatim %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Cantidad en Tránsito</th>
                        <th>Llenos</th>
                        <th>Vacíos</th>
                        <th>Precio Unitario</th>
                        <th>Cantidad a pagar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="producto in liqCtrl.productos"
                        data-ng-controller="ProductoController as productoCtrl">
                        <td>{{ producto.codigo }}</td>
                        <td>{{ producto.cantidad }}</td>
                        <td>{{ productoCtrl.calcularRestante(producto) }}</td>
                        <td>
                            <input type="text" value="{{ producto.vacios }}"
                                data-ng-model="producto.vacios"
                                data-ng-keyup="liqCtrl.calcularSubTotal()" />
                        </td>
                        <td>{{ producto.precio | currency }}</td>
                        <td style="text-align:right">
                            {{ producto.valorTotal | currency }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                Subtotal : {{ liqCtrl.subTotal | currency }}
            </div>

            {% endverbatim %}
        </section>

        <div class="center">
            <button type="button" class="btn btn-default" data-accion="abre_modal"
                data-modal="guia_propia">Guia propia</button>

            <button type="button" class="btn btn-default" data-accion="abre_modal"
                data-modal="guia_lipigas">Guia Lipigas</button>

            <button type="button" class="btn btn-default" data-accion="abre_modal"
                data-modal="voucher_lipigas">Voucher Lipigas</button>

            <button type="button" class="btn btn-default" data-accion="abre_modal"
                data-modal="voucher_transbank">Voucher Transbank</button>

            <button type="button" class="btn btn-default" data-accion="abre_modal"
                data-modal="cupones_prepago">Cupones de prepago</button>

            <button type="button" class="btn btn-default" data-accion="abre_modal"
                data-modal="otros">Otros</button>
        </div>

        <button class="btn btn-default" data-accion="abre_modal" data-modal="abono">ABONO</button>
        <button class="btn btn-default" data-accion="abre_modal" data-modal="cheques">CHEQUES</button>

        <button class="btn btn-primary" data-modal="">Guardar</button>
        <button class="btn btn-default" data-modal="">VENTA GARANTIAS</button>
        <button class="btn btn-primary" data-modal="">CERRAR LIQUIDACIÓN</button>

        {% include "liquidacion/components/modal_guia_propia.html" %}
        {% include "liquidacion/components/modal_guia_lipigas.html" %}
        {% include "liquidacion/components/modal_voucher_lipigas.html" %}
        {% include "liquidacion/components/modal_voucher_transbank.html" %}
        {% include "liquidacion/components/modal_cupones_prepago.html" %}
        {% include "liquidacion/components/modal_otros.html" %}

        {% comment %}
        {% include "liquidacion/components/modal_cheques.html" %}
        {% endcomment %}

        (Cerrada la liquidación, se puede mostrar la información resumen y exportar info a EXCEL).
    </section>
{% endblock %}

{% block js %}
<script src="{% static 'js/vendor/angular.min.js' %}"></script>
<script src="{% static 'js/plugins/typeahead.min.js' %}"></script>
<script src="{% static 'js/common_functions.js' %}"></script>
<script src="{% static 'js/controllers/liquidacion_controller.js' %}"></script>
<script>
    App.urls.set("liquidacion:obtener_guia", "{% url 'liquidacion:obtener_guia' %}");
    App.urls.set("liquidacion:buscar_cliente", "{% url 'liquidacion:buscar_cliente' %}");
</script>
{% endblock %}
