{% verbatim %}
<tr>
    <td class="celda-header" rowspan="{{ lipigas.tarjetas.length + 1 }}">Lipigas</td>
    <td>{{ lipigas.tarjetas.[0].nombre }}</td>
    <td>{{ lipigas.tarjetas.[0].monto }}</td>
</tr>
{{#each lipigas.tarjetas}}
    {{#unless @first}}
    <tr>
        <td>{{ nombre }}</td>
        <td>{{ monto }}</td>
    </tr>
    {{/unless}}
{{/each}}

<tr>
    <td class="celda-header" rowspan="{{ transbank.tarjetas.length + 1 }}">Transbank</td>
    <td>{{ transbank.tarjetas.[0].nombre }}</td>
    <td>{{ transbank.tarjetas.[0].monto }}</td>
</tr>
{{#each transbank.tarjetas}}
    {{#unless @first}}
    <tr>
        <td>{{ nombre }}</td>
        <td>{{ monto }}</td>
    </tr>
    {{/unless}}
{{/each}}
{% endverbatim %}
