{% verbatim %}

{{! se recorre primera guia primer producto }}
{{#if propia.ventas.length}}
<tr>
    <td class="celda-header" rowspan="{{ propia.rowspan }}">Propia</td>
    <td class="celda-header" rowspan="{{ propia.ventas.[0].productos.length }}">{{ propia.ventas.[0].numero }}</td>
    <td>{{ propia.ventas.[0].productos.[0].codigo }}</td>
    <td>{{ propia.ventas.[0].productos.[0].total }}</td>
</tr>

{{! se recorre primera guia resto de productos }}

{{#each propia.ventas.[0].productos }}
    {{#unless @first}}
    <tr>
        <td>{{ codigo }}</td>
        <td>{{ total }}</td>
    </tr>
    {{/unless}}
{{/each}}

{{! se recorren resto de ventas }}

{{#each propia.ventas}}
    {{#unless @first}}
        {{! se recorre primer producto }}
        <tr>
            <td class="celda-header" rowspan="{{ productos.length }}">{{ numero }}</td>
            <td>{{ productos.[0].codigo }}</td>
            <td>{{ productos.[0].total }}</td>
        </tr>

        {{#each productos }}
            {{#unless @first}}
            <tr>
                <td>{{ codigo }}</td>
                <td>{{ total }}</td>
            </tr>
            {{/unless}}
        {{/each}}
    {{/unless}}
{{/each}}
{{/if}}

{{! seccion lipigas }}
{{! se recorre primera guia primer producto }}
{{#if lipigas.ventas.length}}
<tr>
    <td class="celda-header" rowspan="{{ lipigas.rowspan }}">Lipigas</td>
    <td class="celda-header" rowspan="{{ lipigas.ventas.[0].productos.length }}">{{ lipigas.ventas.[0].numero }}</td>
    <td>{{ lipigas.ventas.[0].productos.[0].codigo }}</td>
    <td>{{ lipigas.ventas.[0].productos.[0].total }}</td>
</tr>

{{! se recorre primera guia resto de productos }}

{{#each lipigas.ventas.[0].productos }}
    {{#unless @first}}
    <tr>
        <td>{{ codigo }}</td>
        <td>{{ total }}</td>
    </tr>
    {{/unless}}
{{/each}}

{{! se recorren resto de ventas }}

{{#each lipigas.ventas}}
    {{#unless @first}}
        {{! se recorre primer producto }}
        <tr>
            <td class="celda-header" rowspan="{{ productos.length }}">{{ numero }}</td>
            <td>{{ productos.[0].codigo }}</td>
            <td>{{ productos.[0].total }}</td>
        </tr>

        {{#each productos }}
            {{#unless @first}}
            <tr>
                <td>{{ codigo }}</td>
                <td>{{ total }}</td>
            </tr>
            {{/unless}}
        {{/each}}
    {{/unless}}
{{/each}}
{{/if}}
{% endverbatim %}
