<div id="modal_terminal_asignar" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Asignar Terminal <span ng-bind="terminalCtrl.terminal.codigo"></span></h4>
            </div>
            <div class="modal-body">
                <p>Al elegir un móvil y este cuente con una terminal, esta se desasigna y asigna la nueva.</p>
                <p>
                    Recuerde que el estado de la terminal
                    <strong ng-bind="terminalCtrl.terminal.codigo"></strong> es
                    <strong ng-bind="terminalCtrl.terminal.estado.nombre" style="text-transform:uppercase"></strong>
                </p>

                <div class="form-group">
                    <label for="terminal_agregar_movil" class="control-label">Móvil:</label>

                    <select id="terminal_agregar_movil" class="form-control" ng-model="terminalCtrl.terminal.movil.id">
                        {% for movil in moviles %}
                        <option value="{{ movil.id }}">{{ movil.numero }}</option>
                        {% endfor %}
                    </select>

                    <span class="text-danger"
                        ng-show="terminalCtrl.terminal.mensajes.movil"
                        ng-bind="terminalCtrl.terminal.mensajes.movil"></span>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-ng-click="terminalCtrl.asignar()">Guardar</button>
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
