{% load staticfiles %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Sistema SAGYV</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}" />
    <link rel="stylesheet" href="{% static 'css/sagyv.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <header>{% block header %}{% endblock %}</header>
    <section id="main_content">
        {% block content %}{% endblock %}
    </section>
    <footer>{% block footer %}{% endblock %}</footer>

    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vendor/underscore.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.cookie.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

    <script>
        App.version = "0.1";
    </script>
    {% block js %}{% endblock %}
</body>
</html>
