{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 class="center">LOGIN</h1>

<figure class="logo-index">
    <img src="{% static 'images/logo_index.jpg' %}" alt="perro lipigash" />
</figure>

<aside id="login">
    <form id="f_login" action="{% url 'login' %}" method="post" role="form">
        {% csrf_token %}
        <div id="mensaje"></div>
        <div class="form-group">
            <label class="control-label" for="usuario">Usuario:</label>
            <input id="usuario" name="usuario" type="text" value=""
                placeholder="Ingrese usuario" class="form-control" />
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="clave">Password:</label>
            <input id="clave" type="password" name="clave" value=""
                placeholder="Ingrese contraseña" class="form-control" />
            <span class="help-block"></span>
        </div>
        <div class="center">
            <input class="btn btn-primary" type="submit" value="Ingresar" />
        </div>
    </form>
</aside>

{% endblock %}

{% block js %}
<script src="{% static 'js/controllers/index.js' %}"></script>
<script>
    App.indexController = new App.Controllers.Index();
</script>
{% endblock %}
