{% extends "base.html" %}
{% block header %}
<nav class="navbar navbar-default navbar-right" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Liquidación</a></li>
            <li><a href="#">Bodega</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a href="#">Salir</a></li>
        </ul>
    </div>
    <!--<ul>
        <li>Clientes</li>
        <li>Liquidación</li>
        <li>Bodega</li>
        <li>Reportes</li>
        <li>Salir</li>
    </ul>-->
</nav>
{% endblock %}
{% block content %}
    sadfasdfds
{% endblock %}
