{% extends "base.html" %}
{% block header %}
<nav class="navbar navbar-default navbar-right" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="#">Trabajadores</a></li>
            <li><a href="{% url 'cliente' %}">Clientes</a></li>
            <li><a href="{% url 'vehiculos' %}">Vehiculos</a></li>
            <li><a href="{% url 'liquidacion' %}">Liquidación</a></li>
            <li><a href="{% url 'bodega' %}">Bodega</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a href="{% url 'logout' %}">Salir</a></li>
        </ul>
    </div>
</nav>
{% endblock %}
