{% extends "base.html" %}
{% block header %}
<nav class="navbar navbar-default navbar-right" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="dropdownMenu1"
                    data-toggle="dropdown">
                    Mantenedores
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a href="{% url 'trabajador:index' %}" role="menuitem" tabindex="-1">Trabajadores</a>
                    </li>
                    <li role="presentation">
                        <a href="{% url 'cliente:index' %}"
                            tabindex="-1" role="menuitem">Clientes / Situación Comercial</a>
                    </li>
                    <li role="presentation">
                        <a href="{% url 'vehiculos:index' %}" tabindex="-1" role="menuitem">Vehículos</a>
                    </li>
                    {% if es_admin %}
                    <li role="presentation">
                        <a href="{% url 'precios:index' %}" tabindex="-1" role="menuitem">Precios / Stock</a>
                    </li>
                    <li role="presentation">
                        <a href="{% url 'guias:index' %}" tabindex="-1" role="menuitem">Guías / Talonarios / Terminales</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li>
                <a href="{% url 'liquidacion:index' %}">Liquidación</a>
            </li>
            <li>
                <a href="{% url 'bodega:index' %}">Bodega</a>
            </li>
            <li>
                <a href="{% url 'reportes:index' %}">Reportes</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Salir</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
