{% extends "panel_control.html" %}
{% load static from staticfiles %}

{% block content %}

{% include "mensaje.html" %}

<ul class="nav nav-tabs" role="tablist" id="my_tab">
    <li class="active">
        <a href="#cargas" role="tab" data-toggle="tab">Cargas</a>
    </li>
    <li>
        <a href="#garantias" role="tab" data-toggle="tab">Garantias</a>
    </li>
    <li>
        <a href="#stocks" role="tab" data-toggle="tab">Stocks</a>
    </li>
</ul>

<div class="tab-content" ng-app="precioApp">
    <div class="tab-pane active" id="cargas" ng-controller="PrecioController as precio">
        {% include "precios/components/lista_precios.html" %}
    </div>

    <div class="tab-pane" id="garantias" ng-controller="GarantiaController as garantia">
        {% include "precios/components/lista_precios_garantias.html" %}
    </div>

    <div class="tab-pane" id="stocks" ng-controller="StockController as stock">
        {% include "precios/components/lista_stocks.html" %}
    </div>
</div>


{% endblock %}

{% block js %}
<script src="{% static 'js/common_functions.js' %}"></script>
<script src="{% static 'js/vendor/angular.min.js' %}"></script>
<script src="{% static 'js/plugins/angular.provider.js' %}"></script>
<script src="{% static 'js/bundles/precio_bundle.min.js' %}"></script>
<script>
    App.urls.set("precios:update_precios", "{% url 'precios:update_precios' %}");
    App.urls.set("precios:update_stock", "{% url 'precios:update_stock' %}");
    App.urls.set("precios:obtener_productos", "{% url 'precios:obtener_productos' %}");
    App.urls.set("precios:obtener_garantias", "{% url 'precios:obtener_garantias' %}");
    App.urls.set("precios:obtener_stocks", "{% url 'precios:obtener_stocks' %}");
</script>
{% endblock %}
