{% extends "panel_control.html" %}
{% load static from staticfiles %}

{% block css %}
<style>
    #tabla_ventas thead tr th, #tabla_vouchers thead tr th{
        text-align: center;
    }

    .celda-header{
        text-align: center !important;
        vertical-align: middle !important;
    }
</style>
{% endblock %}

{% block content %}
    {% include "mensaje.html" %}

    <section id="liquidacion" class="panel-liquidacion"
        data-ng-app="liquidacionApp" data-ng-controller="LiquidacionController as liqCtrl">

        <section class="panel-busqueda" ng-controller="PanelBusquedaController as busqueda">
            <label for="guias_despacho">Guía despacho</label>

            <select id="guias_despacho" ng-model="busqueda.idGuiaDespacho">
                {% for guia_despacho in guias_despacho %}
                <option value="{{ guia_despacho.id }}" data-id="{{ guia_despacho.id }}">{{ guia_despacho.numero }}</option>
                {% endfor %}
            </select>

            <button class="btn btn-primary" ng-click="busqueda.buscar(liqCtrl.productos)">Buscar</button>

            {% include "liquidacion/panel_cabecera.html" %}
        </section>

        {% include "liquidacion/panel_detalle.html" %}
        {% include "liquidacion/seccion_venta.html" %}
        {% include "liquidacion/seccion_tabs.html" %}
        {% include "liquidacion/seccion_montos.html" %}

        <button class="btn btn-primary" data-modal=""
            data-ng-click="liqCtrl.cerrarLiquidacion()">CERRAR LIQUIDACIÓN</button>
        <form id="f_cerrar_liquidacion" method="post" action="{% url 'liquidacion:cerrar' %}">
            {% verbatim %}
            <input id="productos_ls" name="productos"
                type="hidden" value="{{ liqCtrl.productos_dump }}" />

            <input id="vouchers_ls" name="vouchers"
                type="hidden" value="{{ liqCtrl.vouchers_dump }}" />

            <input id="cheques_ls" name="cheques"
                type="hidden" value="{{ liqCtrl.cheques_dump }}" />

            <input id="cupones_prepago_ls" name="cupones_prepago"
                type="hidden" value="{{ liqCtrl.cuponesPrepago_dump }}">

            <input id="otros_ls" name="otros"
                type="hidden" value="{{ liqCtrl.otro_dump }}" />

            <input id="guias_ls" name="guias"
                type="hidden" value="{{ liqCtrl.guia_dump }}" />

            <input id="montos_ls" name="montos"
                type="hidden" value="{{ liqCtrl.montos_dump }}" />

            <input id="guia_despacho_ls" name="guia_despacho"
                type="hidden" value = "{{liqCtrl.this_guia_dump}}" />

            {% endverbatim %}
        </form>
    </section>
{% endblock %}

{% block js %}
<script src="{% static 'js/vendor/angular.min.js' %}"></script>
<script src="{% static 'js/plugins/typeahead.min.js' %}"></script>
<script src="{% static 'js/vendor/handlebars.min.js' %}"></script>
<script src="{% static 'js/common_functions.js' %}"></script>
<script src="{% static 'js/bundles/liquidacion.bundle.js' %}"></script>

<script id="tpl_tabla_ventas" type="text/x-handlebars-template">
{% include "liquidacion/tpl_tabla_ventas.html" %}
</script>

<script id="tpl_tabla_vouchers" type="text/x-handlebars-template">
{% include "liquidacion/tpl_tabla_vouchers.html" %}
</script>

<script>
    Handlebars.registerHelper('largo', function(el){
        return el.length + 1;
    });
</script>

<script>
    App.urls.set("liquidacion:obtener_guia", "{% url 'liquidacion:obtener_guia' %}");
    App.urls.set("liquidacion:buscar_cliente", "{% url 'liquidacion:buscar_cliente' %}");
    App.urls.set("liquidacion:cerrar", "{% url 'liquidacion:cerrar' %}");
</script>
{% endblock %}
