<section class="panel-detalle">
    {% verbatim %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Cantidad en Tránsito</th>
                <th>Llenos</th>
                <th>Vacíos</th>
                <th>Precio Unitario</th>
                <th>Cantidad a pagar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="producto in liqCtrl.productos"
                ng-controller="ProductoController as productoCtrl" class="ng-cloak">

                <td ng-bind="producto.codigo"></td>
                <td ng-bind="producto.cantidad"></td>
                <td>
                    <input type="text" ng-model="producto.llenos" ng-keyup="productoCtrl.calcularRestante(producto)">
                </td>
                <td ng-bind="producto.vacios"></td>
                <td ng-bind-template="{{ producto.precio | currency }}"></td>
                <td style="text-align:right" ng-bind-template="{{ producto.valorTotal | currency }}"></td>
            </tr>
        </tbody>
    </table>
    {% endverbatim %}
</section>
