<div id="modal_garantias" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Guía Lipigas</h4>
            </div>

            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="producto in gCtrl.garantias">
                            <td ng-bind="producto.codigo"></td>
                            <td ng-bind="producto.valor"></td>
                            <td><input type="text" ng-model="producto.cantidad"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" data-ng-click="gCtrl.guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>
