<div id="modal_guia_propia" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Guía Propia</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="cliente_guia_propia" class="control-label">Cliente</label>
                    <select id="cliente_guia_propia" class="form-control"
                        ng-model="guiaPropia.idCliente" ng-change="guiaPropia.buscarCliente()">
                        {% for cliente in clientes_propios %}
                        <option value="{{ cliente.id }}">{{ cliente.giro }}</option>
                        {% endfor %}
                    </select>

                    <span class="text-danger"
                        ng-show="guiaPropia.mensajes.cliente"
                        ng-bind="guiaPropia.mensajes.cliente"></span>
                </div>

                <div class="form-group">
                    <label for="guia_cliente_guia_propia" class="control-label">Guía cliente</label>
                    <input type="text" class="form-control" ng-model="guiaPropia.venta.numero" />

                    <span class="text-danger"
                        ng-show="guiaPropia.mensajes.numeroVenta"
                        ng-bind="guiaPropia.mensajes.numeroVenta"></span>
                </div>

                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="tipo_producto_guia_propia" class="control-label">Tipo</label>
                        <select id="tipo_producto_guia_propia" class="form-control"
                            ng-model="guiaPropia.producto.tipo">
                            {% verbatim %}
                            <option value="{{ producto }}"
                                ng-repeat="producto in productos"
                                ng-bind="{{ producto.codigo }}"></option>
                            {% endverbatim %}
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <label for="cantidad_guia_propia" class="control-label">Cantidad</label>
                        <input id="cantidad_guia_propia" type="text" class="form-control"
                            ng-model="guiaPropia.producto.cantidad" />
                    </div>
                    <div class="col-xs-2 btn-productos">
                        <button class="btn btn-default btn-agregar" ng-click="guiaPropia.agregarProducto()">+</button>
                    </div>
                </div>

                <div class="text-danger"
                    ng-show="guiaPropia.mensajes.producto"
                    ng-bind="guiaPropia.mensajes.producto"></div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Cód</th>
                            <th>Cant</th>
                            <th>Precio</th>
                            <th>Desc</th>
                            <th colspan="2">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="producto in guiaPropia.venta.productos">
                            <td ng-bind="producto.codigo"></td>
                            <td ng-bind="producto.cantidad"></td>
                            <td ng-bind="producto.precio | formatoPeso"></td>
                            <td ng-bind="producto.montoDescuento | formatoPeso"></td>
                            <td ng-bind="producto.total | formatoPeso"></td>
                            <td>
                                <a href ng-click="guiaPropia.removeProducto($index)">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="form-group">
                    <label for="situacion_descuento_propia"></label>
                </div>

                {% verbatim %}
                <div id="descuento">
                    Situación descuento : {{ guiaPropia.descripcionDescuento }}
                </div>
                {% endverbatim %}

                {% verbatim %}
                <div>
                    TOTAL guía propia: {{ guiaPropia.venta.total | formatoPeso }}
                </div>
                {% endverbatim %}
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" ng-click="guiaPropia.guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>
