<div id="modal_garantias" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Garantías</h4>
            </div>

            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Vacios</th>
                            <th>precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="producto in gCtrl.garantias">
                            <td ng-bind="producto.codigo"></td>
                            <td ng-bind="producto.max"></td>
                            <td ng-bind="producto.valor"></td>
                            <td>
                                <input type="text" ng-model="producto.cantidad"
                                    ng-readonly="producto.max == 0" />

                                <span class="text-danger block"
                                    ng-show="producto.mensajes.cantidad"
                                    ng-bind="producto.mensajes.cantidad"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" ng-click="gCtrl.guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>
