<div class="tab-pane active" id="guias" ng-controller="GuiaController as guiaCtrl">
    <button class="btn btn-primary" ng-click="guiaCtrl.mostrarPanel('nuevo')">Nuevo</button>

    <table class="table table-striped" ng-controller="DetalleGuiaController as detalleCtrl">
        <thead>
            <tr>
                <th>Guía inicial</th>
                <th>Guía final</th>
                <th>Guía actual</th>
                <th>Trabajador</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="guia in guiaCtrl.guias">
                <td ng-bind="guia.inicial"></td>
                <td ng-bind="guia.ultima"></td>
                <td ng-bind="guia.actual"></td>
                <td ng-bind="guia.trabajador.nombre"></td>
                <td>
                    <a href class="icon-search" title="ver detalle" ng-click="detalleCtrl.ver(guia)"></a>
                    <a href ng-click="guiaCtrl._editar($index)">reasignar</a>
                </td>
            </tr>
        </tbody>
    </table>

    {% include "guias/components/modal_guia_agregar.html" %}
    {% include "guias/components/modal_guia_detalle.html" %}
    {% include "guias/components/modal_guia_editar.html" %}
</div>
