<div id="modal_ver" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalle cliente</h4>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="nombre_ver" class="control-label">Nombre</label>
                        <span id="nombre_ver" class="form-control-static"
                            ng-bind="clienteCtrl.cliente.nombre"></span>
                    </div>

                    <div class="form-group">
                        <label for="giro_ver" class="control-label">Giro</label>
                        <span id="giro_ver" class="form-control-static"
                            ng-bind="clienteCtrl.cliente.giro"></span>
                    </div>

                    <div class="form-group">
                        <label for="direccion_ver" class="control-label">Dirección</label>
                        <span id="direccion_ver" class="form-control-static"
                            ng-bind="clienteCtrl.cliente.direccion"></span>
                    </div>

                    <div class="form-group">
                        <label for="telefono_ver" class="control-label">Teléfono</label>
                        <span id="telefono_ver" class="form-control-static"
                            ng-bind="clienteCtrl.cliente.telefono"></span>
                    </div>

                    <div class="form-group">
                        <label for="rut_ver" class="control-label">Rut</label>
                        <span id="rut_ver" class="form-control-static"
                            ng-bind="clienteCtrl.cliente.rut"></span>
                    </div>

                    <div class="form-group">
                        <label for="sit_comercial_ver" class="control-label">Situación comercial</label>
                        <span id="sit_comercial_ver" class="form-control-static"
                            ng-bind="clienteCtrl.cliente.getSituacionComercial()"></span>
                    </div>

                    <div class="form-group">
                        <label for="credito_ver" class="control-label">Crédito</label>
                        <span class="form-control-static" ng-show="clienteCtrl.cliente.credito">Sí</span>
                        <span class="form-control-static" ng-hide="clienteCtrl.cliente.credito">No</span>
                    </div>

                    <div class="form-group">
                        <label for="lipigas_ver" class="control-label">Lipigas</label>
                        <span class="form-control-static" ng-show="clienteCtrl.cliente.lipigas">Sí</span>
                        <span class="form-control-static" ng-hide="clienteCtrl.cliente.lipigas">No</span>
                    </div>

                    <div class="form-group">
                        <label for="dispensador_ver" class="control-label">Dispensador</label>
                        <span class="form-control-static" ng-show="clienteCtrl.cliente.dispensador">Sí</span>
                        <span class="form-control-static" ng-hide="clienteCtrl.cliente.dispensador">No</span>
                    </div>

                    <div class="form-group">
                        <label for="propio_ver" class="control-label">Propio</label>
                        <span class="form-control-static" ng-show="clienteCtrl.cliente.propio">Sí</span>
                        <span class="form-control-static" ng-hide="clienteCtrl.cliente.propio">No</span>
                    </div>

                    <div class="form-group">
                        <label for="obs_ver" class="control-label">Observaciones</label>
                        <span id="obs_ver" class="form-control-static"
                            ng-bind="clienteCtrl.cliente.observacion"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
