<div id="modal_agregar_situacion" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Crear Situación Comercial</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="descuento_add" class="control-label">Monto Descuento</label>
                    <input id="descuento_add" class="form-control" type="text"
                        ng-model="sitComercialCtrl.situacionComercial.monto" />

                    <span class="text-danger"
                        ng-show="sitComercialCtrl.situacionComercial.mensajes.monto"
                        ng-bind="sitComercialCtrl.situacionComercial.mensajes.monto"></spam>
                </div>

                <div class="form-group">
                    <label for="sit_tipo_add" class="control-label">Tipo Descuento</label>
                    <select id="sit_tipo_add" class="form-control" ng-model="sitComercialCtrl.situacionComercial.tipoDescuento.id">
                        {% for tipo_descuento in tipos_descuento %}
                        <option value="{{ tipo_descuento.id }}">{{ tipo_descuento.tipo }}</option>
                        {% endfor %}
                    </select>

                    <span class="text-danger"
                        ng-show="sitComercialCtrl.situacionComercial.mensajes.tipoDescuento"
                        ng-bind="sitComercialCtrl.situacionComercial.mensajes.tipoDescuento"></spam>
                </div>

                <div class="form-group">
                    <label for="sit_producto_add" class="control-label">Producto Descuento</label>
                    <select id="sit_producto_add" class="form-control"
                        ng-model="sitComercialCtrl.situacionComercial.producto.id">
                        {% for producto in productos %}
                        <option value="{{ producto.id }}"
                            data-codigo="{{ producto.codigo }}"
                            data-nombre="{{ producto.nombre }}">{{ producto.get_nombre_tipo }}</option>
                        {% endfor %}
                    </select>

                    <span class="text-danger"
                        ng-show="sitComercialCtrl.situacionComercial.mensajes.producto"
                        ng-bind="sitComercialCtrl.situacionComercial.mensajes.producto"></span>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="sitComercialCtrl.crear()">Guardar</button>
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
