<div id="modal_editar" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Cliente</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nombre_update" class="control-label">Nombre</label>
                    <input id="nombre_update" type="text" class="form-control" ng-model="clienteCtrl.cliente.nombre" />

                    <span class="text-danger"
                        ng-show="clienteCtrl.cliente.mensajes.nombre"
                        ng-bind="clienteCtrl.cliente.mensajes.nombre"></span>
                </div>

                <div class="form-group">
                    <label for="giro_update" class="control-label">Giro</label>
                    <input id="giro_update" class="form-control" type="text" ng-model="clienteCtrl.cliente.giro" />

                    <span class="text-danger"
                        ng-show="clienteCtrl.cliente.mensajes.giro"
                        ng-bind="clienteCtrl.cliente.mensajes.giro"></span>
                </div>

                <div class="form-group">
                    <label for="direccion_update" class="control-label">Dirección</label>
                    <input id="direccion_update" type="text" class="form-control"
                        ng-model="clienteCtrl.cliente.direccion" />

                    <span class="text-danger"
                        ng-show="clienteCtrl.cliente.mensajes.direccion"
                        ng-bind="clienteCtrl.cliente.mensajes.direccion"></span>
                </div>

                <div class="form-group">
                    <label for="telefono_update" class="control-label">Teléfono</label>
                    <input id="telefono_update" type="text" class="form-control" ng-model="clienteCtrl.cliente.telefono" />

                    <span class="text-danger"
                        ng-show="clienteCtrl.cliente.mensajes.telefono"
                        ng-bind="clienteCtrl.cliente.mensajes.telefono"></span>
                </div>

                <div class="form-group">
                    <label for="rut_update" class="control-label">Rut</label>
                    <input id="rut_update" type="text" class="form-control" ng-model="clienteCtrl.cliente.rut" />

                    <span class="text-danger"
                        ng-show="clienteCtrl.cliente.mensajes.rut"
                        ng-bind="clienteCtrl.cliente.mensajes.rut"></span>
                </div>

                <div class="form-group">
                    <label for="sit_comercial_update" class="control-label">Situación comercial</label>
                    <select id="sit_comercial_update" class="form-control" ng-model="clienteCtrl.cliente.situacionComercialObj">
                        <option value="">Sin descuento</option>
                        {% verbatim %}
                        <option ng-repeat="sc in situacionesComerciales" value="{{ sc }}">
                            {{ sc.getTipoDescuento() }}
                        </option>
                        {% endverbatim %}
                    </select>

                    <span class="text-danger"
                        ng-show="clienteCtrl.cliente.mensajes.situacionComercial"
                        ng-bind="clienteCtrl.cliente.mensajes.situacionComercial"></span>
                </div>

                <div class="checkbox">
                    <label for="credito_update">
                        <input id="credito_update" type="checkbox" ng-model="clienteCtrl.cliente.credito" />
                        <span>Crédito</span>
                    </label>
                </div>

                <div class="checkbox">
                    <label for="dispensador_update">
                        <input id="dispensador_update" type="checkbox" ng-model="clienteCtrl.cliente.dispensador" />
                        <span>Dispensador</span>
                    </label>
                </div>

                <div class="checkbox">
                    <label for="propio_update">
                        <input id="propio_update" type="checkbox" ng-model="clienteCtrl.cliente.propio" />
                        <span>Propio</span>
                    </label>
                </div>

                <div class="checkbox">
                    <label for="lipigas_update">
                        <input id="lipigas_update" type="checkbox" ng-model="clienteCtrl.cliente.lipigas" />
                        <span>Lipigas</span>
                    </label>
                </div>

                <div class="form-group">
                    <label for="obs_update" class="control-label">Observaciones</label>
                    <textarea id="obs_update" class="form-control" ng-model="clienteCtrl.cliente.observacion"></textarea>

                    <span class="text-danger"
                        ng-show="clienteCtrl.cliente.mensajes.observacion"
                        ng-bind="clienteCtrl.cliente.mensajes.observacion"></span>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button id="btn_guardar_update" class="btn btn-primary" ng-click="clienteCtrl.actualizar()">Guardar</button>
            </div>
        </div>
    </div>
</div>
