{% extends "panel_control.html" %}
{% load static %}

{% block content %}
<h1 class="center">Vehículos</h1>

<div id="mensaje" class="alert alert-success center" style="visibility:hidden"></div>
<button id="btn_nuevo_vehiculo" class="btn btn-primary">Nuevo</button>

<table id="lista_vehiculos" class="table table-striped">
    <thead>
        <tr>
            <th>Número</th>
            <th>Patente</th>
            <th>Kilometraje</th>
            <th>Fecha revisión técnica</th>
            <th>Estado Sec</th>
            <th>Estado Pago</th>
            <th>Chofer</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for vehiculo in vehiculos %}
        {% include "vehiculos/components/vehiculo_item.html" %}
        {% endfor %}
    </tbody>
</table>

<!-- MODALS -->
{% include "vehiculos/components/modal_nuevo_vehiculo.html" %}
{% include "vehiculos/components/modal_anexar_chofer.html" %}

<div id="modal_editar_vehiculo" class="modal fade">
    <form id="f_editar_vehiculo" action="" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Editar Vehiculo</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="numero_vehiculo_editar" class="control-label">Número:</label>
                        <input id="numero_vehiculo_editar" name="numero_vehiculo_editar"
                            type="text" value="" class="form-control" />
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <label for="patente_vehiculo_editar " class="control-label">Patente:</label>
                        <input id="patente_vehiculo_editar" class="form-control" type="text" value="" />
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <label for="revision_tecnica_vehiculo_editar" class="control-label">Fecha revisión técnica:</label>
                        <input id="revision_tecnica_vehiculo_editar" type="date" class="form-control" value="" />
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <label for="kilometraje_vehiculo_editar" class="control-label">Kilometraje:</label>
                        <input id="kilometraje_vehiculo_editar" class="form-control" type="text" value="" />
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <label for="estado_sec_vehiculo_editar" class="control-label">Estado Sec:</label>
                        <select name="estado_sec_vehiculo_editar" id="estado_sec_vehiculo_editar" class="form-control">
                            <option value="1">SI</option>
                            <option value="0">NO</option>
                        </select>
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <label for="estado_pago_vehiculo_editar" class="control-label">Estado pago:</label>
                        <select name="estado_pago_vehiculo_editar" id="estado_pago_vehiculo_editar" class="form-control">
                            <option value="1">SI</option>
                            <option value="0">NO</option>
                        </select>
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <label for="chofer_vehiculo_editar" class="control-label">Chofer:</label>
                        <select name="chofer_vehiculo_editar" id="chofer_vehiculo_editar" class="form-control">
                            <option value="">...</option>
                            {% for trabajador in trabajadores %}
                            <option value="{{ trabajador.id }}">{{ trabajador.get_nombre_completo }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="btn_editar" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/vendor/handlebars.min.js' %}"></script>
<script src="{% static 'js/controllers/vehiculo.js' %}"></script>
<script id="tmpl_nuevo_vehiculo" type="x-template/javascript">
    {% include "vehiculos/components/tpl_vehiculo_item.html" %}
</script>
<script>
    App.vehiculoController = new App.Controllers.Vehiculo();
    App.vehiculoController.urlVehiculo = "{% url 'vehiculos:obtener' 0 %}";

    {% for vehiculo in vehiculos %}
    App.vehiculoController.agregarVehiculo({{ vehiculo.numero }}, '{{ vehiculo.patente }}');
    {% endfor %}

    App.vehiculoController.init();
</script>
{% endblock %}

