{% extends "panel_control.html" %}
{% load static %}

{% block content %}
<h1 class="center">Vehículos</h1>

<div id="mensaje" class="alert alert-success center" style="visibility:hidden"></div>
<button id="btn_nuevo_vehiculo" class="btn btn-primary">Nuevo</button>

<table id="lista_vehiculos" class="table table-striped">
    <thead>
        <tr>
            <th>Móvil</th>
            <th>Patente</th>
            <th>Kilometraje</th>
            <th>Fecha revisión técnica</th>
            <th>Estado Sec</th>
            <th>Estado Pago</th>
            <th>Chofer</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for vehiculo in vehiculos %}
        {% include "vehiculos/components/vehiculo_item.html" %}
        {% endfor %}
    </tbody>
</table>

<!-- MODALS -->
{% include "vehiculos/components/modal_nuevo_vehiculo.html" %}
{% include "vehiculos/components/modal_anexar_chofer.html" %}
{% include "vehiculos/components/modal_editar_vehiculo.html" %}

{% endblock %}

{% block js %}
<script src="{% static 'js/vendor/handlebars.min.js' %}"></script>
<script src="{% static 'js/controllers/vehiculo.js' %}"></script>
<script id="tmpl_nuevo_vehiculo" type="x-template/javascript">
    {% include "vehiculos/components/tpl_vehiculo_item.html" %}
</script>
<script>
    App.urls.set("vehiculos:obtener","{% url 'vehiculos:obtener' 0 %}");
    App.urls.set("vehiculos:obtener_vehiculos","{% url 'vehiculos:obtener_vehiculos' %}");

    App.vehiculoController = new App.Controllers.Vehiculo();

    {% for vehiculo in vehiculos %}
    App.vehiculoController.agregarVehiculo({{ vehiculo.numero }}, '{{ vehiculo.patente }}');
    {% endfor %}

    App.vehiculoController.init();
</script>
{% endblock %}

