{% extends "panel_control.html" %}
{% load static %}

{% block content %}
    <div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <table class="table center">
        <tr>
            <td>Patente</td>
            <td>Kilometrage</td>
            <td>acciones</td>
        </tr>
        {% for vehiculo in vehiculos %}
            <tr>
                <td>{{vehiculo.patente}}</td>
                <td>{{vehiculo.km}}</td>
                <td>acciones</td>
            </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
