<div id="modal_carga_producto" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button data-dismiss="modal" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Carga de productos</h4>
            </div>

            <div class="modal-body">
                <div>
                    {% include "bodega/components/paso1.html" %}
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <span>
                    <button id="btn_guardar_carga_producto" class="btn btn-primary"
                        data-ng-click="guiaCtrl.guardarFactura()" >Guardar</button>
                </span>
            </div>
        </div>
    </div>
</div>
