<div id="modal_recargar_guia" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Recarga</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="busqueda_guia" class="control-label">Guía</label>
                    <input id="busqueda_guia" class="form-control" type="text" value="" />
                    <span class="help-block"></span>
                    <button>Buscar</button>
                </div>
                <div id="contenedor-guia">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button id="btn_guardar_recarga" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>