<div id="modal_guia_despacho" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Nueva guía de despacho</h4>
            </div>

            <div class="modal-body">
                    <div class="form-group">
                        <label for="numero_despacho" class="control-label">Guía</label>

                        <input id="numero_despacho" class="form-control" type="text" value=""
                            data-ng-model="bodega.guia.numero" />

                        <span class="text-danger"
                            data-ng-bind="bodega.guia.mensajes.numero"
                            data-ng-show="bodega.guia.mensajes.numero"></span>
                    </div>

                    <div class="form-group">
                        <label for="movil_despacho" class="control-label">Móvil</label>

                        <select id="movil_despacho" class="form-control"
                            data-ng-model="bodega.guia.vehiculo">
                            {% for vehiculo in vehiculos %}
                            <option value="{{ vehiculo.id }}">{{ vehiculo.numero }} - {{ vehiculo.patente }}</option>
                            {% endfor %}
                        </select>

                        <span class="text-danger"
                            data-ng-bind="bodega.guia.mensajes.vehiculo"
                            data-ng-show="bodega.guia.mensajes.vehiculo"></span>
                    </div>

                    <div class="form-group">
                        <label for="fecha_despacho" class="control-label">Fecha</label>

                        <input id="fecha_despacho" class="form-control" type="date"
                            value="" data-ng-model="bodega.guia.fecha" />

                        <span class="text-danger"
                            data-ng-bind="bodega.guia.mensajes.fecha"
                            data-ng-show="bodega.guia.mensajes.fecha"></span>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="guia_producto" class="control-label">Producto</label>

                            <select id="guia_producto" class="form-control"
                                data-ng-model="bodega.producto.id">
                                {% for producto in productos_guia %}
                                <option value="{{ producto.id }}">{{ producto.codigo }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-xs-4">
                            <label for="cantidad_producto" class="contol-label">Cantidad</label>

                            <input id="cantidad_producto" class="form-control" type="text"
                                value="" data-ng-model="bodega.producto.cantidad" />
                        </div>

                        <div class="col-xs-2 btn-productos">
                            <button id="btn_agregar" type="button"
                                class="btn btn-default btn-agregar"
                                data-ng-click="bodega.agregarProductoDescuento('guia_producto')">+</button>
                        </div>
                    </div>

                <div id="mensajes_lista_productos" class="form-group center">
                    <span class="text-danger"
                        data-ng-bind="bodega.guia.mensajes.producto"></span>
                </div>

                <table id="lista_despacho" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Código Producto</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="producto in bodega.guia.productos">
                            <td data-ng-bind="producto.codigo"></td>
                            <td data-ng-bind="producto.cantidad"></td>
                            <td>
                                <i class="glyphicon glyphicon-remove" data-ng-click="bodega.eliminarProducto($index)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>

                <button id="btn_guardar_guia" class="btn btn-primary"
                    data-ng-click="bodega.guardarGuiaDespacho()">Guardar</button>
            </div>
        </div>
    </div>
</div>
