<div id="modal_recargar_guia" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Recarga</h4>
            </div>
            <div class="modal-body">
                <form id="f_guia_recargar" action="{% url 'bodega:recargar_guia' %}" method="post" style="overflow:hidden">

                    <div class="form-group">
                        <label for="numero_despacho_rec" class="control-label">Numero Guia</label>
                        <span id="numero_despacho_rec" class="form-control-static"
                            data-ng-bind="guia.recarga.numero"></span>
                    </div>

                    <div class="form-group">
                        <label for="movil_despasho_rec" class="control-label">Móvil</label>
                        <span id="movil_despasho_rec" class="form-control-static"
                            data-ng-bind="guia.recarga.vehiculo"></span>
                    </div>

                    <div class="form-group">
                        <label for="fecha_despacho_rec" class="control-label">Fecha</label>
                        <span id="fecha_despacho_rec" class="form-control-static"
                            data-ng-bind="guia.recarga.fecha"></span>
                    </div>

                    <table id="despacho" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Código Producto</th>
                                <th>Cantidad</th>
                                <th>Recarga</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="guia_producto_recarga" class="control-label">Producto</label>
                            <select id="guia_producto_recarga" class="form-control">
                                {% for producto in productos_guia %}
                                <option value="{{ producto.id }}">{{ producto.codigo }}</option>
                                {% endfor %}
                            </select>
                            <span class="help-block"></span>
                        </div>

                        <div class="col-xs-4">
                            <label for="cantidad_producto_recarga" class="contol-label">Cantidad</label>
                            <input id="cantidad_producto_recarga" class="form-control" type="text" value="" />
                            <span class="help-block"></span>
                        </div>

                        <div class="col-xs-2 btn-productos">
                            <button id="btn_agregar_recarga" type="button" class="btn btn-default btn-agregar">+</button>
                        </div>
                    </div>
                </form>

                <div id="mensajes_lista_productos_recarga" class="form-group center">
                    <span class="help-block"></span>
                </div>

                <table id="lista_despacho_recarga" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Código Producto</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button id="btn_guardar_recarga" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
