<div class="panel panel-default">
    <table class="table center table-striped">
        <tr>
            <td>codigo</td>
            <td>Tipo</td>
            <td>Stock</td>
            <td>Precio actual</td>
        </tr>
        {% for producto in productos  %}
        <tr>
            <td>{{ producto.codigo }}</td>
            <td>{{ producto.tipo_producto.nombre }}</td>
            <td>
                <span id="stock_{{ producto.id }}">
                    {{ producto.stock }}
                </span>
            </td>
            <td>
                $ <span id="precio_{{ producto.id }}">
                    {{ producto.get_precio_producto }}
                </span>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
