<div id="modal_cheque" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Cheque</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="banco_cheque" class="control-label">Banco</label>

                    <select id="banco_cheque" class="form-control"
                        data-ng-model="cCtrl.cheque.banco">
                        {% for banco in bancos %}
                        <option value="{{ banco.id }}">{{ banco.nombre }}</option>
                        {% endfor %}
                    </select>

                    <span class="text-danger"
                        data-ng-show="cCtrl.cheque.mensajes.banco"
                        data-ng-bind="cCtrl.cheque.mensajes.banco"></span>
                </div>

                <div class="form-group">
                    <label for="numero_cheque">Numero de cheque</label>
                    <input id="numero_cheque" class="form-control" type="text" value="" />
                </div>

                <div class="form-group">
                    <label for="monto_cheque">Monto</label>
                    <input id="monto_cheque" class="form-control" type="text" value="" />
                </div>

                <div class="form-group">
                    <label for="fecha_cheque">Fecha</label>
                    <input id="fecha_cheque" class="form-control" type="date" value="" />
                </div>

                <div class="form-group">
                    <button class="btn btn-default" data-ng-click="cCtrl.addCheque()">+</button>
                </div>

                <table id="lita_cheques" class="table table-striped">
                    <thead>
                        <th>Banco</th>
                        <th>N° Cheque</th>
                        <th>Monto</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <i class="glyphicon glyphicon-remove"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
