<div id="modal_guia_lipigas" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Guía Lipigas</h4>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <label for="numero_guia_lipigas" class="control-label">Numero guía</label>
                    <input id="numero_guia_lipigas" class="form-control" type="text" value="" />
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="cliente_guia_lipigas" class="control-label">Cliente</label>
                    <select name="cliente_guia_lipigas" id="cliente_guia_lipigas" class="form-control">
                        {% for cliente in clientes_lipigas %}
                        <option value="{{ cliente.id }}">{{ cliente.giro }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block"></span>
                </div>

                sistema de carga de guia
                <br />
                (si el cliente tiene credito se aplica el total de la guía)<br />
                (si el cliente tiene solo descuento se descuenta el % X del producto)
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
