<div id="modal_anexar" class="modal fade">
    <form id="f_anexar" action="{% url 'vehiculos:anexar_vehiculo' %}" method="post">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Anexar chofer</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="anexar_numero" class="control-label">Móvil:</label>
                        <input id="anexar_numero" type="text" value="" readonly class="form-control" />
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <label for="anexar_chofer" class="control-label">Chofer:</label>
                        <select name="anexar_chofer" id="anexar_chofer" class="form-control">
                            <option value="">...</option>
                            {% for trabajador in trabajadores %}
                                <option value="{{ trabajador.id }}">{{ trabajador.get_nombre_completo }}</option>
                            {% endfor %}
                        </select>
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <label for="anexar_fecha" class="control-label">Fecha:</label>
                        <input id="anexar_fecha" type="date" value="" class="form-control" min="{% now 'Y-m-d' %}" />
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="btn_anexar" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
