{% extends "panel_control.html" %}
{% load static from staticfiles %}

{% block css %}
<style>
    th{
        cursor: pointer;
    }

    .checkbox{
        display: inline-block;
    }
</style>
{% endblock %}

{% block content %}

{% include "mensaje.html" %}

<ul class="nav nav-tabs" role="tablist" id="my_tab">
    <li class="active">
        <a href="#clientes" role="tab" data-toggle="tab">Clientes</a>
    </li>
    <li>
        <a href="#scomerciales" role="tab" data-toggle="tab">Situaciones Comerciales</a>
    </li>
</ul>

<div class="tab-content" ng-app="clienteApp">
    <div class="tab-pane active" id="clientes" ng-controller="ClienteController as clienteCtrl">
        {% if es_admin %}
        <div class="col-xs-6">
            <button class="btn btn-primary" ng-click="clienteCtrl.nuevo()">Nuevo</button>
        </div>
        {% endif %}

        <form id="f_buscar_cliente" action="{% url 'clientes:buscar_cliente' %}" method="get">
            <div class="col-xs-6" style="text-align:right">
                <input id="cliente_busqueda" type="text" value="" />
                <select id="cliente_opcion">
                    <option value="">Seleccione</option>
                    <option value="nombre">Buscar por nombre</option>
                    <option value="giro">Buscar por giro</option>
                    <option value="rut">Buscar por RUT</option>
                </select>
                <button class="btn btn-primary">Buscar</button>
            </div>
        </form>

        {% include "cliente/lista_clientes.html" %}
        {% include "cliente/components/modal_nuevo_cliente.html" %}
        {% include "cliente/components/modal_editar_cliente.html" %}
        {% include "cliente/components/modal_ver_cliente.html" %}
    </div>

    <div class="tab-pane" id="scomerciales" ng-controller="SituacionComercialController as sitComercialCtrl">
        {% if es_admin %}
        <button ng-click="sitComercialCtrl.nueva()" class="btn btn-primary">Nueva</button>
        {% endif %}

        {% include "cliente/lista_situaciones_comerciales.html" %}
        {% include "cliente/components/modal_nueva_situacion_comercial.html"%}
        {% include "cliente/components/modal_editar_situacion_comercial.html"%}
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/plugins/jquery.rut.min.js' %}"></script>
<script src="{% static 'js/common_functions.js' %}"></script>
<script src="{% static 'js/vendor/angular.min.js' %}"></script>
<script src="{% static 'js/bundles/cliente.bundle.js' %}"></script>

<script>
    App.urls.set("clientes:update","{% url 'clientes:modificar' %}");
    App.urls.set("clientes:crear","{% url 'clientes:crear' %}");
    App.urls.set("clientes:obtener","{% url 'clientes:obtener' %}");
    App.urls.set("clientes:eliminar","{% url 'clientes:eliminar' %}");
    App.urls.set("clientes:obtener_situacion_comercial","{% url 'clientes:obtener_situacion_comercial' %}");
    App.urls.set("clientes:crear_situacion_comercial", "{% url 'clientes:crear_situacion_comercial' %}");
    App.urls.set("clientes:modificar_situacion_comercial", "{% url 'clientes:modificar_situacion_comercial' %}");
</script>
{% endblock %}
