<table id="tabla_s_comerciales" class="table table-striped">
    <thead>
        <tr>
            <th>Tipo de descuento</th>
            <th>Valor</th>
            <th>Producto</th>
            {% if es_admin %}
            <th>Accion</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="sitComercial in situacionesComerciales">
            <td ng-bind="sitComercial.tipoDescuento.tipo"></td>
            <td ng-bind="sitComercial.monto"></td>
            <td ng-bind="sitComercial.producto.codigo"></td>
            {% if es_admin %}
            <td>
                <a href title="editar" class="icon-pencil" ng-click="sitComercialCtrl.editar($index)"></a>
            </td>
            {% endif %}
        </tr>
    </tbody>
</table>
