<table id="tabla_clientes" class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Giro</th>
            <th>Rut</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Situación Comercial</th>
            {% if es_admin %}
            <th>Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cliente in clienteCtrl.clientes">
            <td ng-bind="cliente.nombre"></td>
            <td ng-bind="cliente.giro"></td>
            <td ng-bind="cliente.rut"></td>
            <td ng-bind="cliente.telefono"></td>
            <td ng-bind="cliente.direccion"></td>
            <td ng-bind="cliente.getSituacionComercial()"></td>
            {% if es_admin %}
            <td>
                <a href title="ver detalle" class="icon-search" ng-click="clienteCtrl.ver($index)"></a>
                <a href title="editar" class="icon-pencil" ng-click="clienteCtrl.editar($index)"></a>
                <a href title="eliminar" class="icon-remove" ng-click="clienteCtrl.eliminar($index)"></a>
            </td>
            {% endif %}
        </tr>
    </tbody>
</table>
