{% extends "panel_control.html" %}
{% load static %}
{% block css %}
<style>
    i[data-accion="eliminar"]{
        cursor: pointer;
    }

    .btn-productos{
        height: 71px;
        position: relative;
    }

    .btn-productos .btn-agregar{
        bottom: 11px;
        position: absolute;
    }

    .btn-accion{
        margin: 1em;
    }

</style>
{% endblock %}

{% block content %}

<div id="mensaje" class="center alert" style="display:none"></div>

<ul class="nav nav-tabs" role="tablist" id="myTab">
    <li class="active"><a href="#bodega" role="tab" data-toggle="tab">Bodega</a></li>
    <li><a href="#guias" role="tab" data-toggle="tab">Guías</a></li>
    <li><a href="#transito" role="tab" data-toggle="tab">En transito</a></li>
    <li><a href="#recargas" role="tab" data-toggle="tab">Recargas</a></li>
    <li><a href="#consolidado" role="tab" data-toggle="tab">Consolidado</a></li>
</ul>

<div class="tab-content" data-ng-app="bodegaApp" data-ng-controller="BodegaController as bodega">
    <div class="tab-pane active" id="bodega">
        <button id="btn_guia_despacho"
            class="btn btn-primary btn-accion"
            data-ng-click="bodega.nuevaGuiaDespacho()">
            Cargar Vehiculo
        </button>
        <button id="btn_guia_cargar_producto" class="btn btn-primary btn-accion">
            Cargar Productos
        </button>
        {% include "bodega/panel_bodega.html" %}
    </div>

    <div class="tab-pane" id="transito">
        {% include "bodega/panel_transito.html" %}
    </div>

    <div class="tab-pane" id="consolidado">
        {% include "bodega/panel_consolidados.html" %}
    </div>

    <div class="tab-pane" id="guias">
        {% include "bodega/panel_guias.html" %}
    </div>

    <div class="tab-pane" id="recargas">
        <button id="btn_guia_despacho_recarga" class="btn btn-primary btn-accion">
            Recarga Vehiculo
        </button>
        {% include "bodega/panel_recargas.html" %}
    </div>

    {% include "bodega/components/modal_guia_despacho.html" %}
    {% include "bodega/components/modal_ver_detalle.html" %}
    {% include "bodega/components/modal_guia_carga_producto.html" %}
    {% include "bodega/components/modal_mostrar_guia.html" %}
    {% include "bodega/components/modal_recarga_guia.html" %}
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/vendor/handlebars.min.js' %}"></script>
<script src="{% static 'js/common_functions.js' %}"></script>
<script src="{% static 'js/controllers/bodega.js' %}"></script>
<script id="tpl_nuevo_producto" type="text/x-template">
    {% include "bodega/components/tpl_nuevo_producto.html" %}
</script>

<script id="tpl_ver_detalle" type="text/x-template">
    {% include "bodega/components/tpl_ver_detalle.html" %}
</script>

<script id="tpl_carga_producto" type="text/x-template">
    {% include "bodega/components/tpl_carga_producto.html" %}
</script>

<script id="tpl_carga_guia" type="text/x-template">
    {% include "bodega/components/tpl_carga_guia.html" %}
</script>

<script id="tpl_despacho_producto" type="text/x-template">
    {% include "bodega/components/tpl_despacho_producto.html" %}
</script>

<script src="{% static 'js/vendor/underscore.min.js' %}"></script>
<script src="{% static 'js/vendor/angular.min.js' %}"></script>
<script src="{% static 'js/models/guia_model.js' %}"></script>
<script src="{% static 'js/controllers/bodega_controller.js' %}"></script>

<script>
    App.urls.set("bodega:obtener_vehiculos_por_producto", "{% url 'bodega:obtener_vehiculos_por_producto' %}");
    App.urls.set("bodega:obtener_guia", "{% url 'bodega:obtener_guia' %}");
    App.urls.set("bodega:recargar_guia", "{% url 'bodega:recargar_guia' %}");

    App.bodegaController = new App.Controllers.Bodega();
    App.bodegaController.init();
</script>
{% endblock %}
