{% extends "panel_control.html" %}
{% load static %}
{% block content %}

<div id="mensaje" class="center alert" style="display:none"></div>

<ul class="nav nav-tabs" role="tablist" id="myTab">
    <li class="active"><a href="#bodega" role="tab" data-toggle="tab">Bodega</a></li>
    <li><a href="#transito" role="tab" data-toggle="tab">En transito</a></li>
    <li><a href="#precios" role="tab" data-toggle="tab">Precios</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="bodega">
        {% include "components/productos_bodega.html" %}
    </div>

    <div class="tab-pane" id="transito">
        {% include "components/productos_bodega_transito.html" %}
    </div>

    <div class="tab-pane" id="precios">
        {% include "components/precios_productos.html" %}
    </div>
</div>



{% include "components/modal_bodega.html" with modo="add"  %}
{% include "components/modal_precio.html" %}

{% endblock %}
{% block js %}
<script src="{% static 'js/controllers/bodega.js' %}"></script>
<script>
    App.bodegaController = new App.Controllers.Bodega();
    App.bodegaController.init();

    //tab control
    $('#bodega_tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

</script>
{% endblock %}
