<div>
    <label for="filtrar_por_fecha">Fecha:</label>
    <input id="filtrar_por_fecha" type="date" data-ng-model="guia.fecha" data-ng-change="guia.filtrarGuias()" />
</div>

<table id="tbl_guias" class="table center table-striped">
    <thead>
        <tr>
            <td>Numero Guia</td>
            <td>Vehiculo</td>
            <td>fecha</td>
            <td>Otros</td>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="item in guia.guias">
            <td data-ng-bind="item.numero"></td>
            <td data-ng-bind="item.vehiculo.numero"></td>
            <td data-ng-bind="item.fecha | date:'yyyy-mm-dd'"></td>
            <td>
                <a href class="icon-search" data-ng-click="guia.verGuia(item.id)"></a>
                <a href data-ng-click="guia.recargarGuia(item.id)">Recargar</a>
            </td>
        </tr>
    </tbody>
</table>
