<table id="tbl_guias" class="table center table-striped">
    <thead>
        <tr>
            <td>Numero Guia</td>
            <td>Vehiculo</td>
            <td>fecha</td>
            <td>Otros</td>
        </tr>
    </thead>
    <tbody>
    {% for guia in guias %}
        <tr>
            <td>{{guia.numero}}</td>
            <td>{{guia.vehiculo.numero}}</td>
            <td>{{guia.fecha}}</td>
            <td>
                <a href="#" data-accion="mostrar_detalle" data-guiaId="{{guia.id}}">
                    Ver
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
