<table class="table center table-striped">
    <thead>
        <tr>
            <td>Codigo</td>
            <td>Tipo</td>
            <td>Stock</td>
            <td>Vehiculos</td>
        </tr>
    </thead>
    <tbody>
    {% for item in productos_transito %}
        <tr>
            <td>{{ item.codigo }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>
                <a href
                    class="icon-search"
                    data-ng-click="transito.verDetalle({{ item.producto_id }})"></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
